.btn {
    box-shadow: inset 0px 1px 0px rgba(255,255,255,.4), 
                0px 1px 0px rgba(0,0,0,.2);
}

.btn-primary.active, 
.btn-primary.focus, 
.btn-primary:active, 
.btn-primary:focus, 
.btn-primary:hover, 
.open>.dropdown-toggle.btn-primary {
    background: #185881;
    color: #4ba6e3;
    text-shadow: 1px 1px 2px #0d3a58; 
}

.btn-primary {
    background: #4596cc; /* Old browsers */
    background: -moz-linear-gradient(top,  #4596cc 0%, #047dce 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4596cc), color-stop(100%,#047dce)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #4596cc 0%,#047dce 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #4596cc 0%,#047dce 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #4596cc 0%,#047dce 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #4596cc 0%,#047dce 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4596cc', endColorstr='#047dce',GradientType=0 ); /* IE6-9 */
}