.card {
	
	&.card-new {
		background: none;
		box-shadow: none;
		border: 3px dashed rgba(0,0,0,.3);
	}
	
    position: relative;
    width: 275px;
    height: 165px;
    
	background: #4596e8; /* Old browsers */
	background: -moz-linear-gradient(-45deg,  #4596e8 0%, #8eb9e5 51%, #4596e8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#4596e8), color-stop(51%,#8eb9e5), color-stop(100%,#4596e8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  #4596e8 0%,#8eb9e5 51%,#4596e8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  #4596e8 0%,#8eb9e5 51%,#4596e8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  #4596e8 0%,#8eb9e5 51%,#4596e8 100%); /* IE10+ */
	background: linear-gradient(135deg,  #4596e8 0%,#8eb9e5 51%,#4596e8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4596e8', endColorstr='#4596e8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	
    border-radius: 5px;
    padding: 20px;
	margin: 5px;
	box-shadow: 2px 2px 7px -3px rgba(0,0,0,0.3);
	
	&.Visa {

		> .brand {
			width: 65px;
			background-image: url('../images/Visa.png');
		}
		
	}
	
	&.MasterCard {
		> .brand {
			width: 49px;
			height: 30px;
			background-image: url('../images/MasterCard.png');
		}
	}
	
	&.American.Express {
		> .brand {
			width: 30px;
			height: 30px;
			background-image: url('../images/AmericanExpress.png');
		}
	}
	
	&.Discover {
		> .brand {
			width: 81px;
			height: 18px;
			background-image: url('../images/Discover.png');
		}
	}
	
	&.Diners.Club {
		> .brand {
			width: 42px;
			height: 30px;
			background-image: url('../images/DinersClub.png');
		}
	}
	
	&.JCB {
		> .brand {
			width: 39px;
			height: 30px;
			background-image: url('../images/JCB.png');
		}
	}
	
	& > .brand {
		position: relative;
		float: right;
		height: 25px;
		background-size: 100% 100%;
	}

	& > .number {
		position: relative;
		margin-top: 45px;
		text-shadow: -1px -1px 1px #fff, 1px 1px 1px #000;
	}

	& > .card_holder {
		position: absolute;
		left: 20px;
		bottom: 0px;
		text-shadow: -1px -1px 1px #fff, 1px 1px 1px #000;
	}

	& > .expiration {
		position: absolute;
		right: 20px;
		bottom: 0px;
		text-shadow: -1px -1px 1px #fff, 1px 1px 1px #000;
	}
}