.date-icon {
    
    &.absolute {
        position: absolute;
        top: 25px;
        left: 40px;
    }
    
	width: 70px;
	background: #fcfcfc; 
	background: linear-gradient(top, #fcfcfc 0%,#dad8d8 100%); 
	background: -moz-linear-gradient(top, #fcfcfc 0%, #dad8d8 100%); 
	background: -webkit-linear-gradient(top, #fcfcfc 0%,#dad8d8 100%); 
}
	.date-icon p {
		font-family: Helvetica, sans-serif;
		font-size: 40px; text-align: center; color: #9e9e9e; 
        margin-bottom: 0px;
	}
	
	.date-icon p span {
		background: #d10000; 
		background: linear-gradient(top, #d10000 0%, #7a0909 100%);
		background: -moz-linear-gradient(top, #d10000 0%, #7a0909 100%);
		background: -webkit-linear-gradient(top, #d10000 0%, #7a0909 100%);
		font-size: 20px; font-weight: bold; color: #fff; text-transform: uppercase; 	
		display: block;
		border-top: 3px solid #a13838;
		padding: 6px 0 6px 0;
	}

@-moz-document url-prefix() {
    .date-icon {
        padding: 16px 0 0 0;
    }
    .date-icon p span {
    	padding: 9px 0 3px 0;
    }
}