.envelope {
	
	&.envelope-new {
		background: none;
		box-shadow: none;
		border: 3px dashed rgba(0,0,0,.3);
	}
	
    position: relative;
    width: 275px;
    height: 165px;
//    background-image: url('../images/paper.JPG');
background: #fcfcfc; /* Old browsers */
background: -moz-linear-gradient(top,  #fcfcfc 0%, #f2f2f2 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfcfc), color-stop(100%,#f2f2f2)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #fcfcfc 0%,#f2f2f2 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #fcfcfc 0%,#f2f2f2 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #fcfcfc 0%,#f2f2f2 100%); /* IE10+ */
background: linear-gradient(to bottom,  #fcfcfc 0%,#f2f2f2 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */
	
	background-size: 200% 200%;
	box-shadow: 1px 1px 7px -3px rgba(0,0,0,0.5);
    border-radius: 2px;
    padding: 10px;
	margin: 5px;
	
			.stamp {
				position: relative;
				float: right;
	width: 30px;
	height: 30px;
	display: inline-block;
	padding: 3px;
	background: white;
	position: relative;
	/*The stamp cutout will be created using crisp radial gradients*/
	background: radial-gradient(
		transparent 0px, 
		transparent 2px, 
		white 2px,
		white
	);
				
	-webkit-filter: drop-shadow(0px 0px 2px rgba(0,0,0,0.2));
  
	/*reducing the gradient size*/
	background-size: 6px 6px;
	/*Offset to move the holes to the edge*/
	background-position: 3px 3px;
				
	> div {
		width: 100%;
		height: 100%;
		background-image: url('../images/stamp.jpg');
		background-size: 100% 100%;
		
	}
}
.stamp:after {
	content: '';
	position: absolute;
	/*We can shrink the pseudo element here to hide the shadow edges*/
	left: 5px; top: 5px; right: 5px; bottom: 5px;
	/*Shadow - doesn't look good because of the stamp cutout. We can still move this into another pseudo element behind the .stamp main element*/
	
  /*box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.5);*/
	/*pushing it back*/
	z-index: -1;
}
	
	& > .address {
		position: relative;
    	margin-top: 38px;
		line-height: 14px;
	}
	
}