/* Styles the "Card Flip" page and creates a placeholder for the card */
.flipped-container
{
	/* Set these dimensions so the card can be properly displayed in Safari on iPhone */
	height: 100%;
	width: 100%;

	/* Disable tap highlighting */
	-webkit-tap-highlight-color: rgba(0,0,0,0);

	/* Give some depth to the card */
	-webkit-perspective: 600;
}

.flipped-card
{
	position: relative;
	height: 100%;
	width: 100%;
	left: 0px;
	top: 0px;

	/* Ensure that the card lives correctly in 3D space */
	-webkit-transform-style: preserve-3d;

	/* We apply this property to the card so it can smoothly flip between its sides */
	-webkit-transition-property: -webkit-transform;
	/* Make the animation occur over a period of 1.5 seconds */
	-webkit-transition-duration: .5s;
}


/* Applies the flip animation to the card */
.flipped
{

	/* Rotate the card 180 degrees along the y-axis. This animation allows the card to
	  toggle between its regular and flipped states. */
	-webkit-transform: rotateY(180deg);
}

.flipped .flipped-back {
	z-index: 1;
    display: block;
}

.flipped .flipped-front {
	z-index: 0;
    display: none;
}


/* Styles the card and hides its "back side" when the card is flipped */
.flipped-face
{
	position: relative;
	height: 100%;
	width: 100%;
	/* Drop shadow around the card */
	/* Make sure that users will not be able to select anything on the card */

	/* We create the card by stacking two div elements at the exact same location. The back of the card
	   is shown when we rotated the card 180 degrees along the y-axis. Setting this property to hidden
	   ensures that the "back side" is hidden when the card is flipped
	*/
	-webkit-backface-visibility: hidden;
}

/* Styles the front of the card */
.flipped-front
{
	/* Set the color of the suit characters on the card */
	/* Background color of this side of the card */
	z-index: 1;
    display: block;
}


/* Styles the back of the card */
.flipped-back
{

	/* Ensure the "back side" is flipped already */
	-webkit-transform: rotateY(180deg);
    display: none;
}
