.loading {
    text-align: center;
    height: 100%;
    width: 100%;
    position: fixed;
    width: 50px;
    height: 50px;
    top: 50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -25px;
    
    i {
        color: #8cb54b;
    }
}