.thumbnail-media {
    position: relative;
    min-height: 150px;
    text-align: center;
    font-size: 1.2em;
    width: 100%;
    float: left;
    margin-top: 10px;
    overflow: hidden;
    cursor: pointer;
    
    .thumbnail-title {
        width: 100%;
        bottom: -100%;
        position: absolute;
        left: 0px;
        transition: all .2s;
        color: #fff;
    }
    
    &:hover .thumbnail-title {
        bottom: 0%;
        background: rgba(0,0,0,.6);
    }
    
    .thumbnail-actions {
        width: 100%;
        left: 0px;
        top: -100%;
        position: absolute;
        transition: all .2s;
        padding: 5px;
    }
    
    &:hover .thumbnail-actions {
        top: 0%;
    }
    
    img {
        border-radius: 2px;
        width: 100%;
    }
}

@media (min-width: 768px) { 
    .thumbnail-media { width: 24%; margin: 1% .5%; }
}

@media (min-width: 992px) { 
    .thumbnail-media { width: 24%; margin: 1% .5%; }
}

@media (min-width: 1200px) { 
    .thumbnail-media { width: 19%; margin: 1% .5%; }
}