


/* BOOTSTRAP */
.modal-content {
    border-radius: 2px;
    border: none;
}

//.modal-header.modal-emphasis {
//    background: #cecece;
//  background: -webkit-linear-gradient(#eff1f5,#c9d2dc);
//  background: -moz-linear-gradient(#eff1f5,#c9d2dc);
//  background: -ms-linear-gradient(#eff1f5,#c9d2dc);
//  background: -o-linear-gradient(#eff1f5,#c9d2dc);
//  background: linear-gradient(#eff1f5,#c9d2dc);
//  background: #ecf0f4;
//  background: -webkit-linear-gradient(#fff,#ecf0f4);
//  background: -moz-linear-gradient(#fff,#ecf0f4);
//  background: -ms-linear-gradient(#fff,#ecf0f4);
//  background: -o-linear-gradient(#fff,#ecf0f4);
//  background: linear-gradient(#fff,#ecf0f4);
//}

.form-control {
    padding: 12px 0px 12px 10px;
    background: rgba(251, 251, 251, 1);
    box-shadow: inset 1px 1px 2px rgba(100,100,100,0.1);
//    -webkit-appearance: none;
}

.input-group-addon {
    border-radius: 2px;
}

.btn {
    border-radius: 2px;
}

//BOOTRSTAP PANELS
.panel {
    border: 1px solid #E4E4E4;
//    border-radius: 2px;
//    border-bottom: 1px solid rgba(0,0,0,.15);
//    box-shadow: none;
//    margin-bottom: 0px;
}

//BOOTSTRAP MODALS
/* or */
.modal.fade .modal-dialog {
     transform: translate(0, 0);
}

.dropzone {
    border: 2px dashed #E4E4E4;
}

.dropzone.dropzone-borderless {
    border: none;
    
    .dz-default.dz-message {
        font-weight: bolder;
    }
}

.form-override {
    display: inline;
    width: auto;
}

#cke_ck-editor-component {
    box-shadow: none;
}

.panel-default {
    .panel-heading {
        color: #666;
        background: rgb(244,244,244); /* Old browsers */
        background: -moz-linear-gradient(top,  rgba(244,244,244,1) 0%, rgba(221,221,221,1) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(244,244,244,1)), color-stop(100%,rgba(221,221,221,1))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  rgba(244,244,244,1) 0%,rgba(221,221,221,1) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  rgba(244,244,244,1) 0%,rgba(221,221,221,1) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  rgba(244,244,244,1) 0%,rgba(221,221,221,1) 100%); /* IE10+ */
        background: linear-gradient(to bottom,  rgba(244,244,244,1) 0%,rgba(221,221,221,1) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#dddddd',GradientType=0 ); /* IE6-9 */



    }
}