.photo-picker label > input{ /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}
.photo-picker label > input + img{ /* IMAGE STYLES */
  cursor:pointer;
  border:3px solid transparent;
}
.photo-picker label > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
  border:3px solid #8cb54b;
}

.photo-picker {
    max-height: 150px;
    overflow-y: auto;
    
    label {
        display: block;
        float: left;
        max-width: 30%;
        margin: 1% .5%;
    }
}

.dropzone-single-photo ~ .dropdown-menu .dropdown-header {
    padding: 3px 5px;
}

.dropzone-single-photo ~ .dropdown-menu li:first-child {
    padding: 5px 10px;
}