.dropzone-single-photo {
    padding: 0px;
    min-width: 100%;
    overflow: hidden;
    cursor: pointer;
    border: none !important;
    border-radius: 2px;
    
    img {
        border-radius: 2px;
    }
    
    .dz-message {
        position: absolute;
        bottom: -100%;
        transition: all .2s;
        left: 0px;
        width: 100%;
        background: rgba(0,0,0,.6);
        color: #fff;
        margin: 0px;
    }
    
    &:hover {
        .dz-message {
            bottom: 0px;
        }
    }
}