/*!
 * Start Bootstrap - Simple Sidebar HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Toggle Styles */

/*!
 * Start Bootstrap - Simple Sidebar HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Toggle Styles */

$menu-width: 115px;

#wrapper {
    padding-left: $menu-width;
    position: absolute;
    left: 0px;
    right: $menu-width;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: $menu-width;
    width: 0;
    height: 100%;
    margin-left: - $menu-width;
    overflow-y: auto;
    overflow-x: hidden;
    background: #363636;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    box-shadow: inset -8px 0px 18px -6px #222;
}

#wrapper #sidebar-wrapper {
    width: $menu-width;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: - $menu-width;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: $menu-width;
    margin: 0;
    padding: 0;
    list-style: none;
    
    .sidebar-profile {
        a {
            padding: 15px;
        }
    }
    
    img {
        transition: all .3s;
        border: 0px solid #8cb54b;
    }
    
    i {
        display: block;
        text-align: center;
        font-size: 1.5em;
        -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(black), to(rgba(0, 0, 0, 0.75)));
    }
    
    li {
        text-indent: 0px;
        
        & + li {
            border-top: 1px solid #434242;
        }
        
        &:last-child {
            border-bottom: 1px solid #434242;
        }
        
        a {
            display: block;
            text-decoration: none;
            color: #999999;
            padding: 18px 5px 12px 5px;
            text-align: center;
            
            &:hover {
                text-decoration: none;
                color: #fff;
                background: #2c2b2b;
            }
            
            &.active {
                text-decoration: none;
                color: #fff;
                background: #2c2b2b;
                
                i {
                    color: #8cb54b;
                }
                
                img {
                    border: 3px solid #8cb54b;
                }
            }
            
            &:active {
                text-decoration: none;
            }
            
            &:focus {
                text-decoration: none;
            }
        }
        
        > ul {
            list-style: none;
            
            li {
                a {
                    color: #777777;
                }
            }
        }
    }
    
    > .sidebar-brand {
        height: 65px;
        font-size: 18px;
        line-height: 60px;
        border: none;
        
        i {
            display: inline;
            font-size: 1em;
        }
        
        a {
            color: #999999;
            padding: 5px;
            
            &:hover {
                color: #fff;
                background: none;
            }
        }
    }
}

@media(max-width:992px) {
    #wrapper {
        padding-left: $menu-width;
        width: 100%;
    }

    #wrapper.toggled {
        padding-left: 0px;
    }

    #sidebar-wrapper {
        width: $menu-width;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}