.slideout-content {
    position: absolute;
    width: 500px;
    max-width: 100%;
    min-height: 100%;
    background: #ffffff;
    right: -500px;
    padding: 10px;
    box-shadow: -5px 0px 15px 0px rgba(0,0,0,0.3);
}

.slideout-preview {
    
    & > * {
        height: 100%;
    }
    position: absolute;
    left: 0px;
    top: 0px;
    right: 500px;
    bottom: 0px;
    border: none;
}

.slideout {
    
    position: fixed;
    width: 100%;
    min-height: 100%;
    top: 0px;
    left: 0px;
    z-index: 1001;
    overflow-y: auto;
    overflow-x: hidden;
    background: rgba(0, 0, 0, .5);
    opacity: 0;
    
}

body.slideout-in {
    overflow: hidden;
}