//.carousel { 
//    &> .carousel-indicators {
//        top: 20px;
//        bottom: none;
//    }
//    
//    &> .carousel-inner {    
//        &> .item {
//            height: 500px;
//            
//            &> img {
//                width: 100%;
//                height: auto;
//            }
//            
//            &> .carousel-caption {
//                right: 0%;
//                left: 0%;
//                bottom: 0px;
//                background: rgba(0,0,0,.4);
//            }
//        }
//    }
//}

.carousel {
    width: 100%;
    margin: 0 auto;
    background: #333;
    
    .item > div {
        background-size: cover !important;
        height: 350px;
    }
}