.onoffswitch {
    position: relative; width: 57px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border-radius: 34px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 34px; padding: 0; line-height: 21px;
    font-size: 10; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
    border-radius: 34px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.2) inset;
}
.onoffswitch-inner:before {
    content: "";
    padding-left: 5px;
    background-color: #4596cc; color: #FFFFFF;
    border-radius: 34px 0 0 34px;
}
.onoffswitch-inner:after {
    content: "";
    padding-right: 5px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
    border-radius: 0 34px 34px 0;
}
.onoffswitch-switch {
    display: block; width: 30px; height: 30px; margin: 1px;
    margin-top: 2px;
    border: 1px solid #f8f8f8; border-radius: 30px;
    position: absolute; top: 0; bottom: 0; right: 24px;
    background: #f4f4f4; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  #EEEEEE 0%, #EEEEEE 20%, #ffffff 23%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#EEEEEE), color-stop(20%,#EEEEEE), color-stop(23%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  #EEEEEE 0%,#EEEEEE 20%,#ffffff 23%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  #EEEEEE 0%,#EEEEEE 20%,#ffffff 23%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  #EEEEEE 0%,#EEEEEE 20%,#ffffff 23%); /* IE10+ */
    background: radial-gradient(ellipse at center,  #EEEEEE 0%,#EEEEEE 20%,#ffffff 23%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EEEEEE', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    box-shadow: 0px 0px 5px rgba(0,0,0,0.2)
    
}
.onoffswitch-checkbox:checked + .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked ~ .onoffswitch-switch {
    right: 1px;
    background: -moz-radial-gradient(center, ellipse cover,  #4596cc 0%, #4596cc 20%, #ffffff 23%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#4596cc), color-stop(20%,#4596cc), color-stop(23%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  #4596cc 0%,#4596cc 20%,#ffffff 23%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  #4596cc 0%,#4596cc 20%,#ffffff 23%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  #4596cc 0%,#4596cc 20%,#ffffff 23%); /* IE10+ */
    background: radial-gradient(ellipse at center,  #4596cc 0%,#4596cc 20%,#ffffff 23%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4596cc', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}