.table {
    .img-responsive {
        display: inline-block;
    }
    
    
    
    img {
        display: inline-block;
        max-width: 50px;
        margin: -5px;
        margin-right: 5px;
    }
}

.table-middle {
    td {
        vertical-align: middle !important;
    }
}

.table-spaced {
    border-collapse:separate;
    border-spacing: 0px 8px;
    margin-top: -8px;
    
    &.table-lg {
        
        tr {
            > td {
                padding: 15px !important;
            }
        }
    }
    
    tr:hover>td,
    tr.active>td{
      background: #EFEFEF;
    }
    
    tr { 
        cursor: pointer;
        
        &>th {
            border-top: none !important;
            padding: 0px 15px 0px 10px;
        }
        
        &>td {
            border-top: 1px solid #E4E4E4;
            border-bottom: 1px solid #E4E4E4 ;
            background: #fff;
            padding: 10px;
            vertical-align: middle !important;
            box-shadow: 2px 2px 2px -1px rgba(0,0,0,.05);

            &:first-child {
                border-top-left-radius: 2px;
                border-bottom-left-radius: 2px;
                border-left: 1px solid #E4E4E4;
            }
            
            &:last-child {
                border-top-right-radius: 2px;
                border-bottom-right-radius: 2px; 
                border-right: 1px solid #E4E4E4;
            }
        }
    }
}

td.with-action {
    width: 20px;
    background: #dfdfdf !important;

    &:before {
        content: '\f054';
        font-family: 'FontAwesome';
        color: #fff;
    }
}

.table-cart {
    > tbody > tr > th {
        padding: 10px;
        border-top: none;
    }
    
    > tbody > tr > td {
        padding: 10px;
        border-top: 1px dashed #ddd;
    }
    
    > tbody > tr:last-child > td {
        background: #EDF0F5;
    }
}

.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th {
	border-top: none;
}