.tabpanel-default {
    .tab-content {
        .tab-pane {
            background: #ffffff;
            border-left: 1px solid #ddd;
            border-right: 1px solid #ddd;
            border-bottom: 1px solid #ddd;
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
            box-shadow: 0 1px 1px rgba(0,0,0,.05);
        }
    }
}