@import "sandstone";
@import "side_menu";
@import "progress";
@import "preloader";
@import "slideout";
@import "card";
@import "envelope";
@import "tables";
@import "switch";
//@import "buttons";
@import "flipped";
@import "media";
@import "photo_picker";
@import "photo_uploader";
@import "slideshow";
@import "tabs";
@import "loading";
@import "featurette";
@import "google_map";
@import "date";
@import "overrides";

html {
    height: 100%;
}

//body {
//    height: 100%;
//    background: #F7F7F7;
//}

.input-panel,
.input-panel:focus {
//    box-shadow: 0 1px 2px rgba(0,0,0,.23);
    border: none;
}

.input-panel {
    box-shadow: 0 1px 2px rgba(0,0,0,.23);
}

.input-panel:focus {
    box-shadow: 0 1px 5px rgba(0,0,0,.23);
}

.vertical-align {
    display: flex;
    align-items: center;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #FFFFFF;
  border-top: 1px solid #E4E4E4;
    
  .text-muted {
      margin: 20px 0;
  }
    
  ul {
      display: block;
      
      li {
          display: inline-block;
          padding-right: 5px;
          
          &.active {
              font-weight: bolder;
          }
          
          a {
              text-decoration: none;
              color: #777;
          }
          
          & + li {
              border-left: 1px solid #e4d4d4;
              padding-left: 10px;
          }
      }
  }
}

body {
    height: 100%; 
}

.navbar-default {
    margin-bottom: 0px;
}

body>.ember-view {
    height: 100%;
}

.pull-center {
    margin: auto;
}

.hoverable {
    cursor: pointer;
}

.dropshadow {
    box-shadow: 2px 2px 8px -3px rgba(0,0,0,.1);
}

.modal.in .modal-dialog{
    z-index: 10000;
}